.user-contacts-page {
  .table-controllers {
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 800px) {
      display: grid;
      font-size: 10px;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
  }
}
