.contacts-table {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid black;

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  th {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: left;
    text-align: center;
    @media screen and (max-width: 800px) {
      font-size: 14px;
      padding: 0.5rem;
    }
  }

  td {
    text-align: left;
    text-align: center;
  }

  tr:nth-child(odd) {
    background-color: lightgrey;
  }

  tr:nth-child(even) {
    background-color: grey;
  }

  .hide-sm {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
